<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LABORATORIO CLINICO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        fieldset {
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: lightgrey;
            border-color: antiquewhite;
            border: 3px;
        }

        legend {
            font: 1000;
            border-radius: 10px;
            background-color: lightgrey;
            border-color: antiquewhite;
            border: 3px;
            width: 50%;
            text-align: center;
            font-size: 32px;
        }

        span {
            font-style: italic;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: white;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: top;
            background-position-x: left;
            background-image: url("https://media.istockphoto.com/vectors/modern-abstract-background-with-different-shapes-of-neutral-colors-vector-id1283676563?b=1&k=6&m=1283676563&s=170667a&w=0&h=E3Rl2ouof2eK7P6pQoIanhgcA9bRwoerW3dwBLEbGbU=");
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <link rel="LOGO.png"> @Html.ActionLink("LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO", "LogIn", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" align="right">
                    <li>@Html.ActionLink("Inicio", "Interfaces", "Home")</li>
                    <li>@Html.ActionLink("Salir", "LogOut", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font:500; font-size:x-small">&copy; <strong><i>LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO</i></strong> </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
