@model IEnumerable<DatabaseLayer.Usuarios>

@{
    ViewBag.Title = "Administrador";
}

<h2>Usuarios_Administrador</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Crear_Esuarios")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Usuarios.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Usuarios.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar_Usuario", new { id = item.Id }) |
            @Html.ActionLink("Ver", "Ver_Usuario", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar_Usuario", new { id = item.Id })
        </td>
    </tr>
}

</table>
