@model DatabaseLayer.Resultados

@{
    ViewBag.Title = "Eliminar resultados";
}

<h2>Eliminar_Resultados</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Resultados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Resultados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Resultados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios1.Nombre_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios1.Nombre_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Resultados.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Resultados.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "javascript:history.go(-1)")
        </div>
    }
</div>
