@model IEnumerable<DatabaseLayer.Resultados>

@{
    ViewBag.Title = "Resultados_Cliente";
}

<fieldset>
    <legend align="center">→ GESTIÓN DE RESULTADOS ←</legend>
    <div class="container" align="center">
        <p align="right">
            @Html.ActionLink("Crear nuevo", "Crear_Resultados")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Archivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Auxiliar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_Resultados)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_Resultado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Auxiliar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Resultados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_Resultado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar_Usuario", new { id = item.Id }) |
                        @Html.ActionLink("Ver", "Ver_Usuario", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Eliminar_Usuario", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</fieldset>


