<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LABORATORIO CLINICO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        fieldset {
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #034C74;
            border-color: antiquewhite;
            border: 3px;
            color: white;
            width: auto;
        }

        legend {
            font: 1000;
            border-radius: 10px;
            background-color: white;
            border-color: white;
            border: 3px;
            width: 50%;
            text-align: center;
            font-size: 32px;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: white;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: top;
            background-position-x: left;
            background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg");
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #053855;">
        <div class="container">
            <div class="navbar-header text-center">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></</span>
                    <span class="icon-bar"></span>>
                </button>
                <p class="navbar-brand text-left" align="left">@Html.ActionLink("LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO", "LogIn", "Home")</p><br />
            </div>
            <div class="navbar-collapse collapse">
                <p class="nav navbar-nav text-right" align="right" style="font:oblique; font-size:large;">@Html.ActionLink("Salir", "LogOut", "Home")</p>
                @*<p class="nav navbar-nav text-right" align="right"style="font:bold; font-size:large;">@Html.ActionLink("Inicio", "Interfaces", "Home") | </p>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p style="font:500; font-size:x-small">&copy;@DateTime.Now.Year <strong><i>LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO</i></strong> | <strong>FEWARE Technology. — <i class="text-uppercase">[para más información, <a href="https://fewaretcc.com/" target="blank">pulse aquí</a>] </i></strong></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
