<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LABORATORIO CLINICO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        fieldset {
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #034C74;
            border-color: antiquewhite;
            border: 3px;
            color: white;
            width:auto;
        }

        legend {
            font: 1000;
            border-radius: 10px;
            background-color: white;
            border-color: white;
            border: 3px;
            width: 50%;
            text-align: center;
            font-size: 32px;
        }

        span {
            font-style: italic;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: white;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: top;
            background-position-x: left;
            background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg");
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #053855;">
        <div class="container">
            <div class="navbar-header text-center">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></</span>
                    <span class="icon-bar"></span>>
                </button>
                @Html.ActionLink("LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO", "LogIn", "Home", new { area = "" }, new { @class = "navbar-brand" }) <br />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li align="left" class="text-left">@Html.ActionLink("Inicio", "Interfaces", "Home")</li>
                    <li align="right" class="text-right">@Html.ActionLink("Salir", "LogOut", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p style="font:500; font-size:x-small">&copy;@DateTime.Now.Year <strong><i>LABORATORIO CLINICO - LICDA. JIMENEZ GARRIDO</i></strong> | <strong>FEWARE Technology. — <i class="text-uppercase">[para más información, <a href="https://fewaretcc.com/" target="blank">pulse aquí</a>] </i></strong></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
